
body{
    margin-top:4%;
    text-align:center;
     background-color:#e6f7ff;
}
a{
    margin: 10px;
    font-weight: bold;
    background-color:#80ffc1; 
    font-size: 3rem;
    padding:0px 20px 0px 20px;
    text-decoration: none;
}
th{
    border:inline;
}

table {
    margin: 0 auto;
        border-collapse: collapse;
}

.middle {
    border-bottom: 1pt solid black;
}
.midHorizental {
    border-right: 1pt solid black;
    border-left: 1pt solid black;
}
a:hover{
    cursor: pointer;
}
.hiddentext{
    color: #80ffc1; ;
}
.nonhidden{
    color:black;
}